@CHARSET "UTF-8";

/**
*   Zen CSS
*
*/

/**
*   IMPORT EXTERNAL STYLE SHEETS 
*   We have separated out these styles because they are
*   common to the zen template system.
*/
@import "layout.css";
@import "icons.css";

/**
*   FONT STYLES 
*
*  Standardize font sizes and line-height across browsers 
*/

body {
  font:13px arial,helvetica,clean,sans-serif;
  *font-size:small;
  *font:x-small;

}

table {
  font-size:inherit;
  font:100%;
}
select, input, textarea {
  font:99% arial,helvetica,clean,sans-serif;
}
pre, code {
  font:115% monospace;
  *font-size:100%;
}

table tr.odd {
  background: #ddd;
}

tr, td {
  padding: .25em;
}

td.icon {
  text-align: center;
}


/**
*   LAYOUT STYLES 
*
*  Styles pertaining to minor layout adjustments, such as
*   changing from fluid width to fixed width.  
*   See layout.css for major adjustments.
*/
body {
  margin: 0;
  padding: 0;
  min-width: 700px;      
  /* 2x (left-side fullwidth + main padding) + right-side fullwidth */
}

#page {
  /*width: 900px;  */             /* page width - optional */
  /*margin: 0 auto;   */          /* center the page - optional */
  /*border-left: 2px solid #AAA;*/
  /*border-right: 2px solid #AAA;*/
  }


/**
*  OTHER STYLES
*
*  Styles that are specific to this theme.
*/

/* Common styles */
body {
  background: #fff;
}

#page {
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  line-height:1.5em;
  background-color: #fff;
}

#container {
  margin:0;
  background: #fff url(images/bg.png) repeat-x;
}

#main {

}

#main .node .content{
  color: #3D3D2D;
}

#squeeze {
  border:1px dotted #E0E0B5;
  border-width: 0 1px 1px 1px;
  background: #f1f1e4 url(images/bg-center.png) repeat-x;
}

div.content, div.links {
  font-size: 92%;
}

a, a:link, a:visited {
  color: #68684D;
  text-decoration: none;
}

a:hover, a:focus {
  color: #68684D;
  text-decoration: underline;
}

a:active, a.active { 
  color: #B47A01; 
}
		
h1.title, h1.title a, h1.title a:hover {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #B47A01;
  font-size: 200%;
  margin:0;
  margin-bottom:0px;
  line-height:normal;
}

h1, h1 a, h1 a:hover {
  font-size: 140%;
  color: #B47A01;
  font-family: Arial, Helvetica, sans-serif;
  margin:.5em 0 .5em 0;
}

h2, h2 a, h2 a:hover, .block h3, .block h3 a {
  font-size: 122%;
  color: #B47A01;
  font-family: times, serif;
  text-transform: capitalize;
  margin:.5em 0 .5em 0;
}

h3 { 
  font-size: 107%;
  font-weight: bold; 
  font-family: Arial, Helvetica, sans-serif;
}

h4, h5, h6 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

p, .book .body {
  padding: 0 0 0.5em 0;
  margin: 0;
}

pre {
  background: #ddd;
  border: 1px solid #aaa;
  padding: 0.75em 1.5em;
}

blockquote {
  border: 1px 0px #ccc solid;
  margin: 0.5em 1em;
  padding: 0.3em;
  font-style: italic;
}

code {
  font-size: 100%;
  font-family: Profont, 'lucida console', 'Courier New', Monaco, monospace;
}

img { 
  border: 0; 
}

ol, ul, dl { 
  position: relative; 
}

/* Header styles */

#header {
  background: #9e9e72 url(images/bg-header.png) repeat-x ;
}

#logo-title {
  margin: 5px 20px 0 10px;
  position: relative;
}

#logo{
  vertical-align: baseline;
 /* float:right;*/ 
  margin-right: 52px; 
  margin-left: 25px;
}

#name-and-slogan {
  display: inline;
}

#site-name {
  margin: 0;
  display: inline;
}

#site-name a, #site-name a:hover {
  font-family: times, serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #68684D;
  font-size: 176%;
  margin: 0;
  padding: 0;
}

#site-slogan {
  color: #DEDE96;
  font-style: italic;
  font-family: serif;
  margin: 0;
  font-size: 95%;
  margin-left:0px;
  padding-bottom: 10px;
  display: inline;
}

#search {
  position: absolute;
  padding:0;
  top: 0;
  right: 0;
}

#mission {
  color: #68684D;
  font-weight:bold;
  margin: 0;
  padding: 1.5em 0;
  font-size: 115%;
/*  border: solid 1px #9e9e72;*/
  font-family: arial, helvetica, sans;
  line-height: 150%;
  text-align: justify;
}
#mission img {
  margin: 1em 0;
  padding: 0;
  vertical-align: middle;
}
.breadcrumb {
  margin:0;
  padding:0;
  font-size: 85%;
  border-bottom: 1px solid #FFA90A;
  margin-bottom: 1em;
  letter-spacing: 1px;
}

/* Menu styles */
div.menu {
  margin-top:15px;
}

#primary {
  font-size: 85%;
  text-transform: capitalize;
  line-height:normal;
  padding:0px;
  border-bottom:1px solid #9e9e72;
  border-top:1px solid #d4d4b2;
  background: transparent url(images/bg-menu.png) repeat-x 0px -18px;
}

#primary ul {
  padding:0;
  margin:0;
  list-style:none;
}

#primary li {
  display:inline;
}

#primary a {
  background:transparent url(images/tabs.gif) repeat-x 0px 5px ;
  color:#FFF;
  font-weight:bold;
  display:block;
  float:left;
  padding:3px 10px;
  border: solid #9e9e72 1px;
  border-width: 0px 0px 0px 1px;
/*  padding:5px 14px 5px 14px;
  margin: 0px 1px 0px 0px;
  border: solid #6191C5 1px;
  border-width: 1px 1px 0px 1px;*/
}

#primary a {
  background-position:0% -2px;
}

#primary a:hover {
  background-position:0% -44px;
  text-decoration:none;
}

#primary a.active {
  background-position: 0% -86px;
}

#secondary {
  padding-left:20px;
  background: #6DA6E2; /*#347FD2;*/
  border-bottom: solid #2763A5 4px;
}
#secondary ul {
  margin:0;
  padding:0;
  list-style:none;
}
#secondary li {
  margin:0;
  padding:0;
  display:inline;
}

#secondary li a {
  float:left;
  display:block;
  color: #fff;
  font-size: 85%;
  text-decoration:none;
  padding:0px 5px 0px 5px;
}

#secondary a:hover {
  background:#2763A5;
}

#secondary a.active {
  font-weight:bold;
}

/* Link styles */
ul.links {
  text-align:left;
}

ul.links li {
/*  border-left: 1px solid #9cf;*/
  border:1 px solid #cdcd3e;
}

.taxonomy {
  margin:0;
  padding:0;
  display:inline;
}

.taxonomy ul.links li, .taxonomy ul.links li.first {
/*  border-color:#cdcd3e;
  border-width: 1px 1px 1px 0;
  border-style: solid;*/
  padding:.4em .4em .4em 0;
  display:block;
  float:left;
}

.taxonomy ul.links li:after {
  content: "";
}

.taxonomy ul.links li.last:after {
  content: "";
}


.taxonomy ul.links a {
  color: #bdbd19;
  background: url(images/etiq.png) no-repeat 0px 1px;
}

ul.links li.first {
  padding-left:0;
}

.taxonumy .links {
  color: #999;
}
.taxonomy .links a {
  padding: .2em 0 .2em 2.2em ;
}
.taxonumy .links a:hover {
  text-decoration: none;
}
.submitted, .taxonomy { 
  font-size: 85%;
  color: #999; 
}

.links ul li {
  background: none;
}

/* Form styles */	
input, textarea, textfield {
  margin:0;
  color: #000;
  font-family: arial;
  padding:1px;
  font-size: 100%;
}

fieldset {
  border: solid #ccc 1px;
}

input.form-checkbox, input.form-radio {
  border: none;
}

#search .form-text, #user-login-form .form-text {
  color: #444;
  border: 1px solid #6191C5;
  padding: 2px;
}

.form-submit, .button {
  padding: 1px;
}

#search .button, 
#search .form-submit,
#user-login-form .button,
#user-login-form .form-submit {
  background-color: #68A0D9;
  color: #fff;
  font-weight:bold;
  border: 1px solid #4070A1;
}

#node-form, #node-form .node-form {
  overflow:auto;
}

#user-login-form {
  text-align:left;
}

#user-login-form .item-list ul {
  margin-top:10px;
}

/* Alerts, Status, Help Messages  */
.messages {
  min-height: 32px;                 /* icon height */
  padding: 1.3em 1em .3em 52px;
  border: 2px solid #ddd;
  background: #eee;
  margin: 10px 0;
}

div.error {
  border: 2px solid #F00;
}

.messages ul {
  padding: 0 0 0 20px;
  margin: 0;
}

/* Footer styles */
#footer-wrapper {
  margin:0;
}

#footer {
/*  background-color: #ffffac;*/
/*  border: solid 1px #B47A01;*/
  border-width: 2px 0 0;
  color:#9e9e72;
  text-align: center;
  margin:0;
  font-size: 85%;
  padding: 1em;
}
  
#footer a {
  color: #9e9e72;
  font-weight:bold;
}
  
#footer a:hover {
  border-bottom: 1px solid #FFFFFF;
}

#footer img.drupal-powered {
  position:relative;
  top:.3em;
}

/* Administration styles */
.admin-panel {
  margin:0;
  padding:0;
}

.admin-panel .body {
  background-color: #FEFEDC;
  border: solid #B47A01 1px;
}

.admin-panel .body dl, .admin-panel .body p {
  padding:10px;
}

.admin-panel h3 {
  margin-bottom:0;
  padding:5px 5px 5px 45px;
  font-family: helvetica, sans-serif;
  font-size: 122%;
  color:#fff;
  border-width: 0px 2px 2px 2px;
}

/* Comment styles */
.comment {
  margin:0px 0px 10px 0;
  padding: 10px;
  background: #EBF2F8;
}

.comment  h3.title, .comment  h3.title a {
  font-size: 122%;
  color: #2266AB;
  font-weight:normal;
  font-family: "Trebuchet MS", Arial, Verdana, Sans-serif;
  margin-bottom:3px;
  margin-top:0;
}

.comment .picture, .node .picture {
  float:left;
  margin-right:15px;
}

.comment-unpublished {
  background: #FCE38E;
}

.comment .new {
  color: #FFC600;
  font-weight:bold;
  font-family: "Trebuchet MS", Arial, Verdana, Sans-serif;
}

.comment .links {
  text-align: right;
}

/* Poll styles */
.poll .bar .foreground {
  background: #2763A5;
}

.poll .bar {
  padding:2px;
  background: #BDCBDD;
}

/* Book styles */
div.node div.content .book-navigation {
  background: #eee;
  margin:0;
  padding:0;
}

div.node div.content .book-navigation ul.menu {
  border:0;
  border-top:1px solid #2763A5;
  margin:0;
  padding-bottom:10px;
}

div.node div.content .book-navigation .page-links {
  background: #C1D4EA; /*#347FD2;*/
  border:1px solid #2763A5;
  border-width:1px 0 1px 0;
  padding:5px;
  margin:0;
}

/* Forum styles */
#forum table {
  width: 100%;
}

/* Pager styles */
.pager {
  text-align:center;
  margin-top: 30px;
}

.pager  a, .pager-current {
  padding:3px 8px 3px 8px;
  margin:0 2px 0 2px;
  color: #2763A5;
  font-weight:bold;
  border: solid 1px #eee;
}

.pager-current {
  color: #fff;
  background-color: #2763A5;  
}

/* Node, Block, Content styles */
.node {
  margin-bottom:15px;
  padding-bottom:15px;
}

.node h2.title {
  margin-bottom:.1em;
}

.node h2.title a {
  color: #555;
  font-size: 129%;
  font-weight:normal;
  font-family:verdana;
  line-height:1.4em;
}

.node .content {
  padding-top:10px;
  padding-bottom:5px;
}

.sticky {
  border: solid 1px #cdcd3e;
  padding: 7px;
}

.profile {
  clear:none;
}

.sidebar h2.title {
  color:#68684D;
}

#sidebar-left .block, #sidebar-right .block {
/*  border-bottom: solid #ddd 1px;*/
  padding-bottom:15px;
  margin-bottom:20px;

}

#sidebar-left {
  /*background:transparent url(images/film.png) repeat-y 0 0;
  border-right: 1px dotted #e0e0b5;*/
}

#sidebar-right {
  /*background:transparent url(images/film-right.png) repeat-y 100% 0;
  border-left: 1px dotted #e0e0b5;*/
}
.block .item-list ul {
  padding-left:0;
}

#block-i18n-0 ul li {
  display: inline;
}

#block-i18n-0 ul {
  float: right;
  padding: .25em 20px;
  font-size: 85%;
}

#block-i18n-0 h2 {
  padding: 0;
  margin: 0;
}

.image {
  padding: 1em 0;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
} 
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
} 
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}

/**
 * Video lists (like front-page)
 */

#squeeze .ntype-video {
  border-bottom: 3px solid #f0f0ad;
  padding-bottom: .5em;
  margin-bottom: 2em;
}
#squeeze .ntype-video h2.title a {
  font-family: times, serif;
  font-weight: bold;
  color: #B47A01;
}
#squeeze .ntype-video .image {
  padding: .7em;
  border: 1px solid #dedea0;
}
#squeeze .ntype-video .content {
    font-size: 85%;
}
#squeeze .ntype-video div.links {
      font-size: 85%;
}

/**
 *  The pager
**/
.pager {
  font-size: 80%;
  font-family: times, serif;
}
.pager a{
  color: #B47A01;
  border: none;
}
.pager-current {
  padding: 0;
  background: none;
  color: #B47A01;
  border-color: #dddd22;
}

/**
 *  views blocks in sidebars
**/

.sidebar {
  line-height: 110%;
}

.sidebar .block-views ul li {
  list-style-type: none;
  list-style-image: none;
  display: block;
}

.sidebar .block-views ul {
  padding-left: 0;
}

.sidebar .block-views .item-list ul li {
  margin: 0;
}

.sidebar .block-views .item-list ul li .image {
  padding: .7em;
  border: 1px solid #dedea0;
  background: #fff;
/*  max-width: 162px; */
}

.sidebar .block-views .item-list ul li .view-field {
  font-size: 85%;
}
.view-data-users-name,
.view-data-node-title {
  margin: 0;
  padding: 0;
}
.view-data-users-name {
  margin-bottom: 1em;
}
.view-data-users-name a{
  color: #000;
  font-weight: normal;
}
.view-data-node-title {
  font-family: times, serif;
}
.view-data-node-title a {
  font-weight: bold;
  font-size: 120%;
  color:#B47A01;
}

/* Front-page featured video */

.panel-col-top .panel-col-last div.node,
.panel-col-top .panel-col-first div.node,
.view-content-latest-featured-videos-in-panels ul {
  border: 1px solid #dedea0;
  padding: 5px 10px;
  background: #fff;
}
.view-content div.node {
  min-height: 25em;
}
.view-content-latest-featured-videos-in-panels ul {
  padding: 1em;
}
.view-content-latest-featured-videos-in-panels .view-data-node-title,
.view-content-latest-featured-videos-in-panels .view-label-node-title {
  display: inline;
}
.view-content-latest-featured-videos-in-panels .view-label-node-title {
  font-size: 140%;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFAE00;
}
.view-content-latest-featured-videos-in-panels .view-data-users-name,
.view-content-latest-featured-videos-in-panels .view-label-video-play-counter,
.view-content-latest-featured-videos-in-panels .view-data-video-play-counter {
  width: 100%;
  font-size: 90%;
  color: #68684D;
}
.view-content-latest-featured-videos-in-panels .view-label-video-play-counter,
.view-content-latest-featured-videos-in-panels .view-data-video-play-counter {
  display: inline;
}
.view-content-latest-featured-videos-in-panels .view-label-video-play-counter:after {
  content: " : "
}
.view-content-latest-featured-videos-in-panels .view-data-users-name:before {
  content: "by: "
}
.panel-col-top ul li {
  list-style-type: none;
  list-style-image: none;
 padding: 0;
 margin: 0;
}
.panel-col-top div.node .image {
  background: #fff;
}
.panel-col-top div.node h2.title {
  margin: 0;
  padding: 0;
}

.sidebar a.active  {
  border-bottom: 1px solid #FFA90A;
}
.sidebar ul li a {display: block;}

.sidebar #block-block-4, #block-block-4 p, #block-block-4 .content {
  margin-top: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}
#video-player {
  float: left;
  width: 100%;
  padding: .5em 0;
}
#video-player p {
  font-size: 90%;
  line-height: 100%;
}
