/* filmforge user_bar created with help from :
 * http://drupal.org/node/92657
 * Little modifications by marco@koumbit.org
 */

#user-bar .item-list{ 
  display: none;
}

#user-bar {
  float:left;
  font-size: 85%;
}

/*
 * this will expand the default filmforge bar, make it bigger so our form
 * and message can fit in.
 * */
#header-top {
  height: 1.7em;
  background: transparent;
}
#header-top a, #header-top a:visited {
  color: #68684D;
  font-weight: bold;
  font-family: helvetica, arial, sans;
}
#header-top a:hover {
  color: #F0F0A2;
}
 
 /*
  * by default, the default form adds some surrounding space, this
  * cancels it
  * */
#header-top div.form-item,
#header-top div.content {
  margin: 0; 
  padding: 0;
}
 
 /*
  * this adds some space in top and bottom, so anything inside can look
  * vertically
  * centered
  * */
#user-bar {
   padding: .15em 0;
}

/*
 * by default, fields labels tries to reserve a whole line for itself,
 * this
 * cancels that and and sends it to the left.
 * it also adds some space on the right and left of the label to look
 * easy on
 * the eye.
 * */
#user-bar label {
  float: left;
  margin-left: 12px;
  margin-right: 2px;
  color: #F9FFB9;
}

/*
 * inputs too, they try to reserve a whole line for itself, this
 * cancels that and sends it to the left
 * */
#user-bar input {
  float: left;
  height: 1em;
  background: #EEEED2;
}

/*
 * I don't like the required * (asterisks), so I hide them.
 * */
#user-bar span.form-required {
  display: none;
}

/*
 * the form submit button, it's so tight so we expand it a bit, and give
 * it some
 * free space around.
 * */
#user-bar input.form-submit {
/*  margin-top: -1px;*/
  margin-left: 10px;
  height: 1.55em;
  padding: 0;
  background: #eeeed2;
  border-color: #fff;
  color:#68684D;
}

/*
 * now this is for the links list, lists by default tries to reserve a
 * whole line
 * also they add space surrounding them. we cancel all that and send the
 * list
 * to the right
 * */
#user-bar div.item-list ul {
  float: right;
  margin: 0; padding: 0;
  margin-right: 10px;
}

/*
 * remember, stylign above was for the whole list, now for each item,
 * we all know each item in the list by default exists on a separate
 * line, also
 * has that bullet on the left. we cancel all that. and makes all items
 * sit beside
 * each other
 * */
#user-bar div.item-list ul li {
  float: left;
  background: none;
  margin: 0 5px;
  padding: 0 10px;
  border: 1px solid #9c9d73;
}

/*
 * this is the "Hi user, welcome back message".
 * by default <p> tries to exist on a separate line, we cancel that.
 * also by default <p> has some surrounding space, we cancel that too,
 * and give it
 * only space on the left.
 * */
#user-bar p.user-info {
  float: left;
  padding: 0;
  margin: 0 0 0 10px;
}

#user-bar .form-text {
  border-color: #fff;
}



